---
title: Base page test
layout: base.njk
---

<div class="container">
    <h1>Test jamstack</h1>
    <div class="message">your message could be here, </div>
    <div class="icon">
        👼
    </div>
    <ul>
    {% for article in news.articles %}
        <li>
            <h3><a href="{{article.url}}">{{ article.title }}</a></h3>
            <img src="{{article.urlToImage}}" width="200px"/>
            <p>{{article.content}}</p>
        </li>
    {% endfor %}    
    </ul>
</div>
<script src="js/message.js"></script>