---
title: Base page test
layout: base.njk
---

<div class="container">
    <h1>Test jamstack</h1>
    <div class="message">your message could be here, </div>
    <div class="icon">
        👼
    </div>
</div>
<script src="js/message.js"></script>