---
title: Base page test
layout: base.njk
pagination:
    data: news
    size: 1
    alias: news
permalink: /{{news.country}}/index.html    
---

<div class="container">
    <h2>Weather near you</h2>
    <p id="city"></p>
    <p id="temp"></p>
    <p id="main"></p>
    <p id="desc"></p>

    <h2>News in your country</h1>
    <ul>
    {% for article in news.articles %}
        <li>
            <h3><a href="{{article.url}}">{{ article.title }}</a></h3>
            <img src="{{article.urlToImage}}" width="200px"/>
            <p>{{article.content}}</p>
        </li>
    {% endfor %}    
    </ul>
</div>
<script src="js/message.js"></script>
<script src="js/weather.js"></script>